@mixin a() {
  a {
    color: #FFF;
    text-decoration: none;

    &:hover {
      color: #66CCFF;
      text-decoration: underline;
    }
  }
}

.index {
  .items {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;

    .item {
      padding: 20px 20px 40px;
      font-size: 1.25em;
      border-bottom: 3px solid #808080;

      &:hover {
        .title {
          a {
            color: #66CCFF;
          }
        }
      }

      header {
        margin: 20px 0;

        .title {
          font-size: 2em;

          @include a();
        }

        .date {
          text-align: right;
        }
      }

      .excerpt {
        text-align: justify;
        min-height: 50px;
      }

      .more {
        text-align: right;

        @include a();
      }
    }
  }
}
