.main-nav {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background: $bar-background-color url("/image/nav-background.jpg") center center/cover no-repeat fixed; // yande.re 284228
  font-size: 1.5em;
  transition: height 0.2s linear;
  box-shadow: 0 10px 20px rgba($shadow-color, .19), 0 6px 6px rgba($shadow-color, .23);

  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $bar-background-color;
    opacity: 0;
    transition: opacity 1s ease;
  }

  &.shrink {
    height: 50px;

    .nav {
      animation: 1s fade-in;
    }
  }

  &.shrink:before {
    opacity: 1;
  }

  .nav-item {
    a {
      position: relative;
      color: #FFF;
      transition: color 0.3s ease;

      &:before {
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        content: "";
        background-color: #FFF;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: #555;

        &:before {
          background: #555;
          visibility: visible;
          transform: scaleX(1);
        }
      }

      &.active {
        &:before {
          background: #66CCFF;
          visibility: visible;
          transform: scaleX(1);
        }

        &:hover {
          color: #555;

          &:before {
            transform: translateY(3px);
            background: #555;
          }
        }
      }
    }
  }

  .profile {
    position: absolute;
    top: 35%;
    left: 25%;
    height: 30%;
    width: 50%;
    text-align: center;

    &.display-none {
      display: none;
    }

    .profile-image-block {
      animation: 1s fade-in;

      .profile-image {
        width: 200px;
        border: 0;
        border-radius: 200px;
        cursor: pointer;

        &:hover {
          animation: 1s infinite shak;
        }
      }
    }

    .profile-text-block {
      animation: 1.5s fade-in;

      .profile-text {
        margin-top: 50px;
        color: #FFF;

        span:hover {
          cursor: pointer;
          animation: 2s infinite rainbow-text;
        }
      }
    }
  }
}

@keyframes shak {
  0%, 100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }
}

@keyframes rainbow-text {
  0%, 100% {
    color: #555555;
  }

  5%, 95% {
    color: #555566;
  }

  10%, 90% {
    color: #556677;
  }

  15%, 85% {
    color: #556688;
  }

  20%, 80% {
    color: #557799;
  }

  25%, 75% {
    color: #6677AA;
  }

  30%, 70% {
    color: #6688BB;
  }

  35%, 65% {
    color: #6699CC;
  }

  40%, 60% {
    color: #66AADD;
  }

  45%, 55% {
    color: #66BBEE;
  }

  50% {
    color: #66CCFF;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: rotateY(50px);
  }

  25% {
    transform: rotateY(50px);
  }

  100% {
    transform: rotateY(00px);
  }
}
